<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="36baa585-262a-462e-9692-15f6317b60ec" name="i3pd-Web" alias="i3pd-web" type="Starter" color="" url="https://www.s1.umbraco.io/project/i3pd-web">
  <environment type="live" name="Live" id="fe8be456-4790-4ac0-bb21-1d4e3cebe58f">https://i3pd-web.s1.umbraco.io</environment>
</environments>